<?xml version="1.0" encoding="UTF-8"?>
<configuration
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd"
    debug="false" scan="true" scanPeriod="30 second">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangerPropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	<jmxConfigurator/>
    <appender name="console" clas="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
    		<pattern>logback: %d{HH:mm:ss.SSS} %logger{36} - %msg%n</pattern>
    	</encoder>
    </appender>
    <logger name="org.springframework.web" level="DEBUG"></logger>
    <root level="INFO">
    	<appender-ref ref="console"></appender-ref>
    </root>  
</configuration>